<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="always" name="referrer">
    <title>凤凰股票-专业让投资更简单-凤凰网</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    {{{ htmlWebpackPlugin.options.errorupload }}}
    <%- statisticsData.statisticsHead %>
    <script>
        var allData = <%- JSON.stringify(allData) %>;

        try{
            allData.topAd = new Function('return ' + <%- JSON.stringify(allData.topAd) %>)();
        }catch(e){
            console.error('AdError', e);

            allData.topAd = {};
        }

        try{
            allData.leftAsideAd = new Function('return ' + <%- JSON.stringify(allData.leftAsideAd) %>)();
        }catch(e){
            console.error('AdError', e);

            allData.leftAsideAd = {};
        }

        try{
            allData.hotSpotsAd = new Function('return ' + <%- JSON.stringify(allData.hotSpotsAd) %>)();
        }catch(e){
            console.error('AdError', e);

            allData.hotSpotsAd = {};
        }

        try{
            allData.schoolAd = new Function('return ' + <%- JSON.stringify(allData.schoolAd) %>)();
        }catch(e){
            console.error('AdError', e);

            allData.schoolAd = {};
        }

        try{
            allData.rightSideAd0 = new Function('return ' + <%- JSON.stringify(allData.rightSideAd0) %>)();
        }catch(e){
            console.error('AdError', e);

            allData.rightSideAd0 = {};
        }

        try{
            allData.rightSideAd1 = new Function('return ' + <%- JSON.stringify(allData.rightSideAd1) %>)();
        }catch(e){
            console.error('AdError', e);

            allData.rightSideAd1 = {};
        }

        try{
            allData.bottomAd = new Function('return ' + <%- JSON.stringify(allData.bottomAd) %>)();
        }catch(e){
            console.error('AdError', e);

            allData.bottomAd = {};
        }
    </script>
    {{#each htmlWebpackPlugin.files.css}}
    <link href="{{path}}" rel="stylesheet"> 
    {{/each}}
    {{{ htmlWebpackPlugin.options.polyfill }}}
    <script src="https://c0.ifengimg.com/web/d/inice.js"></script>
</head>

<body>
    <div id="root"></div>
    {{#each htmlWebpackPlugin.files.js}}
    <script src="{{path}}" type="text/javascript"></script>
    {{/each}}
    <script>IfengAmgr.start()</script>
    <%- statisticsData.statisticsBody %>
</body>

</html>