<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="always" name="referrer">
    <title>凤凰股票-专业让投资更简单-凤凰网</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <%- statisticsData.statisticsHead %>
    <script>
        var allData = <%- JSON.stringify(allData) %>;

        try{
            allData.topAd = new Function('return ' + <%- JSON.stringify(allData.topAd) %>)();
        }catch(e){
            console.error('AdError', e);

            allData.topAd = {};
        }

        try{
            allData.leftAsideAd = new Function('return ' + <%- JSON.stringify(allData.leftAsideAd) %>)();
        }catch(e){
            console.error('AdError', e);

            allData.leftAsideAd = {};
        }

        try{
            allData.hotSpotsAd = new Function('return ' + <%- JSON.stringify(allData.hotSpotsAd) %>)();
        }catch(e){
            console.error('AdError', e);

            allData.hotSpotsAd = {};
        }

        try{
            allData.schoolAd = new Function('return ' + <%- JSON.stringify(allData.schoolAd) %>)();
        }catch(e){
            console.error('AdError', e);

            allData.schoolAd = {};
        }

        try{
            allData.rightSideAd0 = new Function('return ' + <%- JSON.stringify(allData.rightSideAd0) %>)();
        }catch(e){
            console.error('AdError', e);

            allData.rightSideAd0 = {};
        }

        try{
            allData.rightSideAd1 = new Function('return ' + <%- JSON.stringify(allData.rightSideAd1) %>)();
        }catch(e){
            console.error('AdError', e);

            allData.rightSideAd1 = {};
        }

        try{
            allData.bottomAd = new Function('return ' + <%- JSON.stringify(allData.bottomAd) %>)();
        }catch(e){
            console.error('AdError', e);

            allData.bottomAd = {};
        }
    </script>
    {{#each htmlWebpackPlugin.files.css}}
    <link href="{{path}}" rel="stylesheet"> 
    {{/each}}
    <!--[if lt IE 8]>
        <script>
            if (typeof document.querySelector === 'undefined') {
                document.querySelector = function (target) {
                    return document.getElementsByTagName(target)[0] || null;
                }
            }
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script>
            if (Object.defineProperty 
            && Object.getOwnPropertyDescriptor 
            && Object.getOwnPropertyDescriptor(Element.prototype, "textContent") 
            && !Object.getOwnPropertyDescriptor(Element.prototype, "textContent").get) {
            (function() {
                var innerText = Object.getOwnPropertyDescriptor(Element.prototype, "innerText");
                Object.defineProperty(Element.prototype, "textContent",
                // Passing innerText or innerText.get directly does not work,
                // wrapper function is required.
                {
                get: function() {
                    return innerText.get.call(this);
                },
                set: function(s) {
                    return innerText.set.call(this, s);
                }
                }
            );
            })();
            }
        </script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/es5-shim/4.5.10/es5-shim.min.js"></script>
        <script src="https://cdn.bootcss.com/es5-shim/4.5.10/es5-sham.min.js"></script>
        <script src="http://cdn.bootcss.com/console-polyfill/0.3.0/index.min.js"></script>
    <![endif]-->
    <script src="https://c0.ifengimg.com/web/d/inice.js"></script>
</head>

<body>
    <div id="root"></div>
    {{#each htmlWebpackPlugin.files.js}}
    <script src="{{path}}" type="text/javascript"></script>
    {{/each}}
    <script>IfengAmgr.start()</script>
    <%- statisticsData.statisticsBody %>
</body>

</html>