<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="always" name="referrer">
    <title>凤凰财经-离用户最近的财经媒体-凤凰网</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <%- statisticsData.statisticsHead %>
    <script>
        var allData = <%- JSON.stringify(allData) %>;

        try{
            var topAd = new Function('return ' + <%- JSON.stringify(allData.topAd) %>)();
        }catch(e){
            console.error('AdError', e);

            var topAd = {};
        }

        try{
            var channelAd = new Function('return ' + <%- JSON.stringify(allData.channelAd) %>)();
        }catch(e){
            console.error('AdError', e);

            var channelAd = {};
        }

        try{
            var dayNewsAd = new Function('return ' + <%- JSON.stringify(allData.dayNewsAd) %>)();
        }catch(e){
            console.error('AdError', e);

            var dayNewsAd = {};
        }

        try{
            var extraNewsAd = new Function('return ' + <%- JSON.stringify(allData.extraNewsAd) %>)();
        }catch(e){
            console.error('AdError', e);

            var extraNewsAd = {};
        }

        try{
            var middleAd = new Function('return ' + <%- JSON.stringify(allData.middleAd) %>)();
        }catch(e){
            console.error('AdError', e);

            var middleAd = {};
        }

        try{
            var financeVideoAd = new Function('return ' + <%- JSON.stringify(allData.financeVideoAd) %>)();
        }catch(e){
            console.error('AdError', e);

            var financeVideoAd = {};
        }

        try{
            var meetingAd = new Function('return ' + <%- JSON.stringify(allData.meetingAd) %>)();
        }catch(e){
            console.error('AdError', e);

            var meetingAd = {};
        }

        try{
            var meetingListAd = new Function('return ' + <%- JSON.stringify(allData.meetingListAd) %>)();
        }catch(e){
            console.error('AdError', e);

            var meetingListAd = {};
        }

        try{
            var marketAd = new Function('return ' + <%- JSON.stringify(allData.marketAd) %>)();
        }catch(e){
            console.error('AdError', e);

            var marketAd = {};
        }

        try{
            var courierAd = new Function('return ' + <%- JSON.stringify(allData.courierAd) %>)();
        }catch(e){
            console.error('AdError', e);

            var courierAd = {};
        }

        try{
            var asideAd1 = new Function('return ' + <%- JSON.stringify(allData.asideAd1) %>)();
        }catch(e){
            console.error('AdError', e);

            var asideAd1 = {};
        }

        try{
            var asideAd2 = new Function('return ' + <%- JSON.stringify(allData.asideAd2) %>)();
        }catch(e){
            console.error('AdError', e);

            var asideAd2 = {};
        }

        try{
            var asideAd3 = new Function('return ' + <%- JSON.stringify(allData.asideAd3) %>)();
        }catch(e){
            console.error('AdError', e);

            var asideAd3 = {};
        }

        try{
            var asideAd4 = new Function('return ' + <%- JSON.stringify(allData.asideAd4) %>)();
        }catch(e){
            console.error('AdError', e);

            var asideAd4 = {};
        }

        try{
            var asideAd5 = new Function('return ' + <%- JSON.stringify(allData.asideAd5) %>)();
        }catch(e){
            console.error('AdError', e);

            var asideAd5 = {};
        }

        try{
            var asideAd6 = new Function('return ' + <%- JSON.stringify(allData.asideAd6) %>)();
        }catch(e){
            console.error('AdError', e);

            var asideAd6 = {};
        }

        try{
            var asideAd7 = new Function('return ' + <%- JSON.stringify(allData.asideAd7) %>)();
        }catch(e){
            console.error('AdError', e);

            var asideAd7 = {};
        }

        try{
            var infoAd = new Function('return ' + <%- JSON.stringify(allData.infoAd) %>)();
        }catch(e){
            console.error('AdError', e);

            var infoAd = {};
        }

        try{
            var hardAd = new Function('return ' + <%- JSON.stringify(allData.hardAd) %>)();
        }catch(e){
            console.error('AdError', e);

            var hardAd = {};
        }
        
        try{
            var bottomAd = new Function('return ' + <%- JSON.stringify(allData.bottomAd) %>)();
        }catch(e){
            console.error('AdError', e);

            var bottomAd = {};
        }

        try{
            var floatAd1 = new Function('return ' + <%- JSON.stringify(allData.floatAd1) %>)();
        }catch(e){
            console.error('AdError', e);

            var floatAd1 = {};
        }

        try{
            var floatAd2 = new Function('return ' + <%- JSON.stringify(allData.floatAd2) %>)();
        }catch(e){
            console.error('AdError', e);

            var floatAd2 = {};
        }

        try{
            var floatAd3 = new Function('return ' + <%- JSON.stringify(allData.floatAd3) %>)();
        }catch(e){
            console.error('AdError', e);

            var floatAd3 = {};
        }

        try{
            var floatAd4 = new Function('return ' + <%- JSON.stringify(allData.floatAd4) %>)();
        }catch(e){
            console.error('AdError', e);

            var floatAd4 = {};
        }

        try{
            var floatAd5 = new Function('return ' + <%- JSON.stringify(allData.floatAd5) %>)();
        }catch(e){
            console.error('AdError', e);

            var floatAd5 = {};
        }

        try{
            var floatAd6 = new Function('return ' + <%- JSON.stringify(allData.floatAd6) %>)();
        }catch(e){
            console.error('AdError', e);

            var floatAd6 = {};
        }
        
        var jsonData = {
            nav: allData.nav,
            search: allData.search,
            topAd: topAd,
            logo: allData.logo,
            logoAd: allData.logoAd,
            channelAd: channelAd,
            navigation: allData.navigation,
            rights: allData.rights,
            production: allData.production,
            bannerPic: allData.bannerPic,
            headline: allData.headline,
            dayNews: allData.dayNews,
            dayNewsAd: dayNewsAd,
            extraNews: allData.extraNews,
            extraNewsAd: extraNewsAd,
            middleAd: middleAd,
            comicBook: allData.comicBook,
            talking: allData.talking,
            finance: allData.finance,
            financeList: allData.financeList,
            stocks: allData.stocks,
            stocksList: allData.stocksList,
            financeVideo: allData.financeVideo,
            financeVideoAd: financeVideoAd,
            institute: allData.institute,
            lark: allData.lark,
            meeting: allData.meeting,
            meetingAd: meetingAd,
            meetingListAd: meetingListAd,
            market: allData.market,
            marketAd: marketAd,
            courier: allData.courier,
            courierAd: courierAd,
            asideAd1: asideAd1,
            asideAd2: asideAd2,
            asideAd3: asideAd3,
            asideAd4: asideAd4,
            asideAd5: asideAd5,
            asideAd6: asideAd6,
            asideAd7: asideAd7,
            info: {
                infoAd: infoAd,
                hardAd: hardAd
            },
            cooperation: allData.cooperation,
            bottomAd: bottomAd,
            footer: allData.footer,
            qrCode: allData.qrCode,
            floatAd1: floatAd1,
            floatAd2: floatAd2,
            floatAd3: floatAd3,
            floatAd4: floatAd4,
            floatAd5: floatAd5,
            floatAd6: floatAd6
        };
    </script>
    {{#each htmlWebpackPlugin.files.css}}
    <link href="{{path}}" rel="stylesheet"> 
    {{/each}}
    <!--[if lt IE 8]>
        <script>
            if (typeof document.querySelector === 'undefined') {
                document.querySelector = function (target) {
                    return document.getElementsByTagName(target)[0] || null;
                }
            }
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script>
            if (Object.defineProperty 
            && Object.getOwnPropertyDescriptor 
            && Object.getOwnPropertyDescriptor(Element.prototype, "textContent") 
            && !Object.getOwnPropertyDescriptor(Element.prototype, "textContent").get) {
            (function() {
                var innerText = Object.getOwnPropertyDescriptor(Element.prototype, "innerText");
                Object.defineProperty(Element.prototype, "textContent",
                // Passing innerText or innerText.get directly does not work,
                // wrapper function is required.
                {
                get: function() {
                    return innerText.get.call(this);
                },
                set: function(s) {
                    return innerText.set.call(this, s);
                }
                }
            );
            })();
            }
        </script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/es5-shim/4.5.10/es5-shim.min.js"></script>
        <script src="https://cdn.bootcss.com/es5-shim/4.5.10/es5-sham.min.js"></script>
        <script src="http://cdn.bootcss.com/console-polyfill/0.3.0/index.min.js"></script>
    <![endif]-->
    <script src="https://c0.ifengimg.com/web/d/inice.js"></script>
</head>

<body>
    <div id="root"></div>

    {{#each htmlWebpackPlugin.files.js}}
    <script src="{{path}}" type="text/javascript"></script>
    {{/each}}
    <script>IfengAmgr.start()</script>
    <%- statisticsData.statisticsBody %>
</body>

</html>