<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="always" name="referrer">
    <title>凤凰财经-离用户最近的财经媒体-凤凰网</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    {{{ htmlWebpackPlugin.options.errorupload }}}
    <%- statisticsData.statisticsHead %>
    <script>
        var allData = <%- JSON.stringify(allData).replace(/</g, '\\u003c') %>;
        var adData = <%- JSON.stringify(adData) %>;
        var staticData = <%- JSON.stringify(staticData) %>;

        for (var key in adData) {
            try{
                if(key==='adHead' || key == 'adBody'){
                    continue;
                }
                allData[key] = new Function('return ' + decodeURIComponent(adData[key]))();
            }catch(e){
                console.error(key, e);

                allData[key] = {};
                if (window && window.BJ_REPORT) window.BJ_REPORT.report(e, false, 'ad');
            }

        }

        for (var key in staticData) {
            try{
                if (typeof staticData[key] === 'string'){
                    allData[key] = decodeURIComponent(staticData[key]);
                } else {
                    allData[key] = staticData[key]
                }
            }catch(e){
                console.error(key, e);

                allData[key] = [];
                if (window && window.BJ_REPORT) window.BJ_REPORT.report(e, false, 'data');
            }

        }

    </script>
    {{#each htmlWebpackPlugin.files.css}}
    <link href="{{path}}" rel="stylesheet"> 
    {{/each}}

    {{{ htmlWebpackPlugin.options.polyfill }}}
    <%- decodeURIComponent(adData.adHead) %>
</head>

<body>
    <div id="root"></div>

    {{#if htmlWebpackPlugin.options.useMorden}}
    {{#if htmlWebpackPlugin.options.isDevMode}}
        {{#each htmlWebpackPlugin.files.js}}
            <script type="module" src="{{path}}_modern.js" type="text/javascript"></script>
        {{/each}}
    {{else}}
        <!--include file="{{htmlWebpackPlugin.options.includeName}}.html" -->
    {{/if}}
    {{{htmlWebpackPlugin.options.modernPolyfill}}}
    {{#each htmlWebpackPlugin.files.js}}
        <script nomodule src="{{path}}" type="text/javascript"></script>
    {{/each}}
    {{else}}
        {{#each htmlWebpackPlugin.files.js}}
            <script src="{{path}}" type="text/javascript"></script>
        {{/each}}
    {{/if}}
    <%- decodeURIComponent(adData.adBody) %>
    <%- statisticsData.statisticsBody %>
</body>

</html>