<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="always" name="referrer">
    <title>凤凰财经-离用户最近的财经媒体-凤凰网</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    {{{ htmlWebpackPlugin.options.errorupload }}}
    <%- statisticsData.statisticsHead %>
    <script>
        var allData = <%- JSON.stringify(allData) %>;
        var adData = <%- JSON.stringify(adData) %>;
        var staticData = <%- JSON.stringify(staticData) %>;

        for (var key in adData) {
            try{
                if(key==='adHead' || key == 'adBody'){
                    continue;
                }
                allData[key] = new Function('return ' + decodeURIComponent(adData[key]))();
            }catch(e){
                console.error(key, e);

                allData[key] = {};
            }

        }

        for (var key in staticData) {
            try{
                allData[key] = decodeURIComponent(staticData[key]);
            }catch(e){
                console.error(key, e);

                allData[key] = [];
            }

        }

    </script>
    {{#each htmlWebpackPlugin.files.css}}
    <link href="{{path}}" rel="stylesheet"> 
    {{/each}}

    {{{ htmlWebpackPlugin.options.polyfill }}}
    <%- decodeURIComponent(adData.adHead) %>
</head>

<body>
    <div id="root"></div>

    {{#each htmlWebpackPlugin.files.js}}
    <script src="{{path}}" type="text/javascript"></script>
    {{/each}}
    <%- decodeURIComponent(adData.adBody) %>
    <%- statisticsData.statisticsBody %>
</body>

</html>