<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="always" name="referrer">
    <title></title>
    {{{ htmlWebpackPlugin.options.errorupload }}}
    <script>
        var allData = <%- JSON.stringify(allData) %>;

        try{
            allData.footerAd = new Function('return ' + <%- JSON.stringify(allData.footerAd) %>)();
        }catch(err){
            console.error('AdError', err);
            allData.footerAd = {};
        }

        try{
            allData.asideAd = new Function('return ' + <%- JSON.stringify(allData.asideAd) %>)();
        }catch(err){
            console.error('AdError', err);
            allData.asideAd = {};
        }

        try{
            allData.asideFixedAd = new Function('return ' + <%- JSON.stringify(allData.asideFixedAd) %>)();
        }catch(err){
            console.error('AdError', err);
            allData.asideFixedAd = {};
        }
    </script>
    {{#each htmlWebpackPlugin.files.css}}
    <link href="{{path}}" rel="stylesheet">
    {{/each}}
    {{{ htmlWebpackPlugin.options.polyfill }}}
    <%- adData.adHead %>
</head>
<body>
    <div id="root"></div>

    {{#each htmlWebpackPlugin.files.js}}
        <script src="{{path}}" type="text/javascript"></script>
    {{/each}}
    <%- adData.adBody %>
</body>
</html>
