<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="always" name="referrer">
    <title>凤凰财经_财经频道_凤凰网</title>
    {{{ htmlWebpackPlugin.options.errorupload }}}
    <%- statisticsData.statisticsHead %>
    <script>
        var allData = <%- JSON.stringify(allData).replace(/</g, '\\u003c') %>;
        var adData = <%- JSON.stringify(adData) %>;
        var staticData = <%- JSON.stringify(staticData) %>;
        var __chipsData = <%- JSON.stringify(kvList) %>;
        for (var key in adData) {
            try{
                if(key==='adHead' || key == 'adBody'){
                    continue;
                }
                allData[key] = new Function('return ' + decodeURIComponent(adData[key]))();
            }catch(e){
                console.error(key, e);
                allData[key] = {};
                e.message = key + ' ' +e.message;
                if (window && window.BJ_REPORT) window.BJ_REPORT.report(e, false, 'ad');
            }

        }

        for (var key in staticData) {
            try{
                if (typeof staticData[key] === 'string'){
                    allData[key] = decodeURIComponent(staticData[key]);
                } else {
                    allData[key] = staticData[key]
                }
            }catch(e){
                console.error(key, e);
                allData[key] = [];
                e.message = key + ' ' +e.message;
                if (window && window.BJ_REPORT) window.BJ_REPORT.report(e, false, 'data');
            }
        }
    </script>
    {{#each htmlWebpackPlugin.files.css}}
    <link href="{{path}}" rel="stylesheet"> 
    {{/each}}
    {{{ htmlWebpackPlugin.options.polyfill }}}
</head>

<body>
    <div id="root"></div>
    {{#if htmlWebpackPlugin.options.useMorden}}
    {{#if htmlWebpackPlugin.options.isDevMode}}
        {{#each htmlWebpackPlugin.files.js}}
            <script type="module" src="{{path}}_modern.js" type="text/javascript" crossorigin="anonymous"></script>
        {{/each}}
    {{else}}
        <!--include file="{{htmlWebpackPlugin.options.includeName}}.html" -->
    {{/if}}
    {{{htmlWebpackPlugin.options.modernPolyfill}}}
    {{#each htmlWebpackPlugin.files.js}}
        <script nomodule src="{{path}}" type="text/javascript" crossorigin="anonymous"></script>
    {{/each}}
    {{else}}
        {{#each htmlWebpackPlugin.files.js}}
            <script src="{{path}}" type="text/javascript" crossorigin="anonymous"></script>
        {{/each}}
    {{/if}}
    <%- statisticsData.statisticsBody %>
</body>

</html>
